@page "/UserAdminControl"

<h3>UsersAdminControl</h3>

<MudTable   Items=@Users CanCancelEdit=true  RowEditCommit="CommitUpdateUsers">
       <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>UserName</MudTh>
        <MudTh>FirstName</MudTh>
        <MudTh>LastName</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Registered at</MudTh> 
        <MudTh>Role</MudTh>
        <MudTh>Number of Posts</MudTh>
    </HeaderContent>
     <RowTemplate>
        <MudTd DataLabel="Id" >@context.id</MudTd> 
        <MudTd DataLabel="UserName">@context.UserName</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>   
        <MudTd DataLabel="Registered">@context.RegisteredAt</MudTd>
          <MudTd DataLabel="Role">@context.Role</MudTd>
         @*  <MudTd DataLabel="PostCount">@context.Posts?.Count</MudTd>*@
                 <MudTd><MudIconButton Icon=@Icons.Filled.Cancel OnClick=@(()=>OnDeleteClick(@context))/></MudTd>
        
    </RowTemplate>
        <RowEditingTemplate>
       <MudTd DataLabel="Id" >@context.id</MudTd> 
     <MudTd DataLabel="UserName">
            <MudTextField @bind-Value="@context.UserName" />
        </MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>   
        <MudTd DataLabel="Registered">@context.RegisteredAt</MudTd>
        <MudTd DataLabel="Role">
            <MudTextField @bind-Value="@context.Role"  Required />
          
           @*<MudTd DataLabel="PostCount">@context.Posts?.Count</MudTd>*@
        </MudTd>

        <MudTh>Number of Posts</MudTh>
        
       
    </RowEditingTemplate>
@*<FooterContent>
    
        <MudTFootRow>
            <MudButton OnClick="CommitUpdateUsers">CommitChanges</MudButton>
        </MudTFootRow>
    </FooterContent>*@
    

</MudTable>

